<div class="banner">
    <h1>Welcome to Movie Bucket</h1>
    <h3>Where you can create lists of movies you want to watch!</h3>
</div>

<% @lists.each do |list|%>
  <div class="card-container">
    <li> <%=list.name%> - </li>
    <div class="d-flex">
      <div class="button">
        <%= link_to 'View this List', list_path(list) %>
      </div>
      <div class="button" >
        <%= link_to 'Create a List', new_list_path %>
      </div>
      <div hidden class="button" >
        <%= link_to 'Delete this List', list_path(list), method: :delete %>
      </div>
    </div>
  </div>
<% end %>
