<h1>Add a Movie to your list</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.input :comment %>
  <%= f.association :movie, collection: Movie.all, input_html: { class: "form-control", required: true } %>
  <%= f.submit %>
<% end %>
